python-binance==1.0.15
pytz==2021.3
scikit-learn==1.2.0
scipy==1.8.0
seaborn==0.11.2
statsmodels==0.13.2
stockstats==0.3.2
torch==1.9.1
tqdm==4.63.0
trading-calendars==2.1.1
yfinance==0.1.63
fracdiff==0.9.0
exchange_calendars==3.3
